* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.7;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* border-bottom: 1px solid #222; */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    width: 100%;
    height: clamp(50px, 4vw, 70px);
    background-color: #fff;
    color: #2195ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(1rem, 2vw, 2rem);
    text-transform: uppercase;
}

.logo {
     width: clamp(30px, 7vw, 50px);
  

}

.logo img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0.15rem;
    background-color: #2195ee;

}

/* NAVIGATION */

.nav__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.list__item {
    font-size: clamp(0.75rem, 2vw, 0.85rem);

}

.list__item a {
    text-decoration: none;
    color: #2195ee;
}
.nav li:nth-child(4) a {
    color: #777;
    font-weight: bold;
}

/* MAIN */

.hero {
    min-height: 30vh;
    background-image: url("image/fish\ 2.avif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    background-color: #fff;
    padding: 2rem 0;
    border-bottom: 1px solid #777;

}

.post__container {
    width: min(100%, 700px);
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    color: #777;
}

.post__container h1 {
    margin: 2rem 0 0.75rem 0 ;
    color: #2195ee;
    font-size: clamp(1rem, 2vw, 3rem);
}

.author__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.author__img img {
    width: 2rem;
    border-radius: 50%;
    aspect-ratio: 1;
}

.author__img span {
    font-size: 0.85rem;
    color: #777;
}

/* ARTICLE */

.post {
    padding: 2rem;
}

.post__row {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.post__row--right {
    flex-direction: row;
}

.post__row--left {
    flex-direction: row;
}

.post__row p {
    flex: 1;
}

.post__link {
    width: 220px;
    padding-left: 1rem;
}

h4 {
    font-size: 0.75;
    color: #777;
    margin-bottom: 1rem;
}

.post__link ul {
    list-style: none;
}

.link a {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    color: #2195ee;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.date {
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 0.75rem;
}

.img img {
    width: 200px;
    border-radius: 50%;
}

.post__text {
    margin-bottom: 1rem;
}

/* footer -style*/
.footer {
    background-color: #fff;
    padding: clamp(0.45rem, 2vw, 0.75rem);
    text-align: center;
   
}

.footer__logo img {
    width: clamp(30px, 2vw, 40px);
   
}


.footer h3 {
    color: #2195ee;
    padding-top: 0.5rem;
    text-transform: uppercase;
    font-size: clamp(0.45rem, 2vw, 0.9rem);
}

.footer h3 span {
    color: #777;
}

/* MOBILE-RESPOSIVENESS */

@media (max-width: 700px) {
   
  .post__row {
    flex-direction: column;
  }

  .post__link {
    width: 100%;
    padding-left: 0;
  }


  .img img {
    width: 140px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
   
   .logo {
    display: none;
    gap: 0.5rem;
   }

}
